.board {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.rank {
    display: flex;
    flex-direction: row;
}

.file {
    display: flex;
    flex-direction: column;
}
